form{
    padding: 20px 30px;
    div{
        display: flex;
        justify-content: space-around;
        @media screen and (max-width : 600px){
            flex-direction: column;
        }
    }
    mat-form-field{
        width: 45%;
        max-width: 300px;
        @media screen and (max-width : 600px){
            width: 100%;
        }
    }
}