.panierButton{
    position: fixed;
    bottom: 10px;
    right: 13px;
    padding: 11px 12px;
    border-radius: 100%;
    background: #f5f5fe;
    background: var(--color-primary);
    border: none;
    box-shadow: #00000024 0 20px 20px -5px,#0000000d 0 10px 10px -5px;
    cursor: pointer;
    transition: .4s;
    z-index: 10;
    width: max-content;
    @media screen and (max-width : 1000px){
        bottom: 55px;
        left: 7px;
        z-index: 11;
    }
    &.hide{
        display: none;
    }
    &:hover{
        transform: scale(1.07);
    }
    img{
        width: 40px;
    }
}

.mat-badge-medium.mat-badge-overlap.mat-badge-before .mat-badge-content{
    top: 0;
    left: 0;
    background: orangered;
}

.content, .footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    transform: translateX(100%);
    transition: .4s;
    z-index: 10;
    &.active{
        transform: translate(0);
    }
    @media screen and (min-width : 1001px){
        max-width: 385px;
    }
}

.content{
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width : 1000px){
        transform: translateY(95%);
    }
    >div{
        width: 100%;
        padding: 20px;
        &:first-of-type{
            background-color: var(--dark-primary);
            @media screen and (min-width : 1001px){
                border-radius: 13px 0 0 0;
            }
            h2{
                color: #fafafa;
                font-size: 20px;
                font-weight: 500;
                text-align: center;
            }
            img{
                position: absolute;
                top: 7px;
                left: 7px;
                cursor: pointer;
            }
        }
        &:last-of-type{
            flex: 1;
            overflow-y: scroll;
            padding-bottom: 100px;
            border-bottom-left-radius: 13px;
            background: #fafafa;
            ul{
                li{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 13px;
                    >div{
                        display: flex;
                        align-items: center;
                        div:first-of-type{
                            background: var(--light-primary);
                            margin-right: 10px;
                            padding: 7px 3px;
                            border-radius: 3px;
                            img{
                                width: 50px;
                                height: auto;
                            }
                        }
                        div:last-of-type{
                            display: flex;
                            flex-direction: column;
                            p{
                                margin: 3px 0;
                                text-transform: capitalize;
                                &:last-of-type{
                                    font-size: 13px;
                                }
                            }
                        }
                        &:last-of-type{
                            span{
                                margin: 0 6px;
                            }
                            button{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 15px;
                                width: 22px;
                                height: 22px;
                                border: 1px solid var(--color-primary);
                                color: var(--color-primary);
                                background: none;
                                border-radius: 100%;
                                cursor: pointer;
                                transition: .4s;
                                &:hover{
                                    background: var(--color-primary);
                                    color: #fafafa;
                                }
                            }
                        }
                    }
                    span{
                        margin: 0 2px;
                    }
                }
            }
            .empty{
                text-align: center;
                padding: 20px 0;
            }
            >div{
                border-top: 1px solid var(--color-primary);
                padding-top: 15px;
                margin-top: 20px;
                >div{
                    &:not(:last-of-type){
                        margin-bottom: 30px;
                    }
                    div{
                        display: flex;
                        align-items: flex-start;
                        margin-bottom: 10px;
                        img{
                            width: 20px;
                            vertical-align: bottom;
                            margin-right: 8px;
                        }
                        p{
                            color: var(--dark-primary);
                            font-size: 15px;
                            line-height: 1.15;
                        }
                    }
                    div:nth-of-type(2), mat-radio-group{
                        display: flex;
                        justify-content: center;
                        mat-checkbox, mat-radio-button{
                            margin: 0 15px;
                        }
                    }
                    mat-button-toggle-group{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        border: none;
                        mat-button-toggle{
                            margin: 0 3px 10px;
                            background: none;
                            color: var(--dark-primary);
                            border: 1px solid var(--dark-primary);
                            border-radius: 2px;
                            &.mat-button-toggle-checked{
                                background-color: var(--color-primary);
                                color: #fafafa;
                                border: 1px solid var(--color-primary);
                                box-shadow: #0000003d 0 3px 8px;
                            }
                        }
                    }
                }
                mat-form-field{
                    width: 100%;
                    margin-top: 7px;
                }
                mat-error{
                    font-size: 13px;
                    display: block;
                    text-align: center;
                }
            }
        }
    }
}

.footer{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #fafafa;
    background: var(--dark-primary);
    border-bottom-left-radius: 13px;
    width: 100%;
    padding: 20px;
    @media screen and (max-width : 1000px){
        border-radius: 13px 13px 0 0;
    }
    span{
        font-size: 22px;
        font-weight: 600;
        margin-left: 10px;
    }
    button{
        color: #fafafa;
        background: var(--color-primary);
        font-weight: 500;
        padding: 7px 10px;
        border: none;
        border-radius: 7px;
        cursor: pointer;
    }
}